[Desktop Entry]
Exec=mate-color-select
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=gtk-select-color
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;Viewer;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ca]=MATE;color;selector;seleccionar;pateta;pantalla;selecció;
Keywords[cs]=MATE;barva;výběr;paleta;obrazovka;volič;vybrat;vybírat;vybírání;zvolit;
Keywords[da]=MATE;color;chooser;pick;palette;screen;selection;farve;vælger;vælg;palet:skærm:markering;
Keywords[en_GB]=MATE;colour;chooser;pick;palette;screen;selection;
Keywords[es]=MATE;color;selector;selección;paleta;pantalla;
Keywords[fi]=MATE;color;chooser;pick;palette;screen;selection;väri;valitsin;paletti;ruutu;valinta;
Keywords[fr]=MATE;color;chooser;pick;palette;screen;selection;
Keywords[gl]=MATE;cor;selector;seleccione;paleta;pantalla;selección;
Keywords[hu]=MATE;color;chooser;pick;palette;screen;selection;szín;választó;kiválasztás;paletta;kijelző;képernyő;kiválasztás
Keywords[id]=MATE;warna;pemilih;palet;layar;pemilihan;
Keywords[it]=MATE;color;chooser;pick;palette;screen;selection;
Keywords[ja]=MATE;color;chooser;pick;palette;screen;selection;
Keywords[kn]=MATE;color;chooser;pick;palette;screen;selection;
Keywords[lt]=MATE;spalva;spalvos;spalvų;parinkiklis;parinkti;paletė;ekranas;pasirinkimas;
Keywords[ms]=MATE;warna;pemilih;pilih;palet;skrin;pemilihan;
Keywords[nb]=MATE;farge;plukker;velger;palett;skjerm;velg;
Keywords[nl]=MATE;kleur;kiezer;kiezen;palet;scherm;selectie;
Keywords[oc]=MATE;color;chooser;pick;palette;screen;selection;paleta;
Keywords[pl]=MATE;kolor;wybór;wybierz;paleta;ekran;wybór;
Keywords[pt]=MATE;color;chooser;pick;palette;screen;selection; 
Keywords[ru]=MATE;color;chooser;pick;palette;screen;selection;
Keywords[sk]=MATE;farba;výber;voľba;zvoliť;vybrať;paleta;škála;obrazovka;displej;
Keywords[sl]=MATE;barva;izbirnik;izbira;paleta;zaslon;izbor;
Keywords[sr]=Мејт;боја;избирач;изабери;палета;екран;избор;
Keywords[sv]=MATE;färg;väljare;plockare;palett;skärm;markering;
Keywords[uk]=MATE;color;chooser;pick;palette;screen;selection;мате;колір;вибір;піпетка;палітра;екран;позначене;
Keywords[zh_CN]=MATE;color;chooser;pick;palette;screen;selection;颜色;选择器;拾取;调色板;屏幕;选择;
Keywords[zh_TW]=MATE;color;chooser;pick;palette;screen;selection;
Keywords=MATE;color;chooser;pick;palette;screen;selection;
OnlyShowIn=MATE;
StartupNotify=false
Name=Color selection dialog
Name[am]=የ ቀለም ምርጫ ንግግር
Name[ar]=إطار اختيار اللون
Name[be]=Акенца выбару колера
Name[bg]=Прозорец за избор на цвят
Name[br]=Boestad emziviz diuzadur al livioù
Name[ca]=Diàleg de selecció de color
Name[ca@valencia]=Diàleg de selecció de color
Name[cs]=Dialog pro výběr barev
Name[da]=Dialog for farvevalg
Name[de]=MATE-Auswahldialog
Name[de_CH]=MATE-Auswahldialog
Name[el]=Διάλογος επιλογής χρώματος
Name[en_AU]=Colour selection dialogue
Name[en_GB]=Colour selection dialogue
Name[eo]=Kolorelektila dialogujo
Name[es]=Diálogo de la selección de color.
Name[es_AR]=Diálogo de la selección de color.
Name[es_CL]=Diálogo de la selección de color.
Name[es_CO]=Dialogo de selección de color
Name[es_MX]=Diálogo de la selección de color.
Name[et]=Värvuse valimise dialoog
Name[eu]=Kolore-hautapen elkarrizketa-koadroa
Name[fi]=Värinvalintaikkuna
Name[fr]=Dialogue de sélection de couleur
Name[gl]=Diálogo de selección de cor
Name[hr]=Dijaloški okvir odabira boje
Name[hu]=Színválasztó párbeszédablak
Name[hy]=Ընտրված երկխոսության գույնը
Name[id]=Dialog pemilihan warna
Name[is]=Litavalsgluggi
Name[it]=Dialogo di selezione colore
Name[ja]=色選択ダイアログ
Name[jv]=Janela pilihan werna
Name[kk]=Түсті таңдау сұхбаты
Name[ko]=색상 선택 대화 상자
Name[lt]=Spalvos pasirinkimo langas
Name[ms]=Dialog pemilihan warna
Name[nb]=Fargevalgsdialog
Name[nds]=Farv-Utköör-Dialog
Name[nl]=Dialoogvenster voor kleurselectie
Name[pl]=Okno dialogowe wyboru kolorów
Name[pt]=Diálogo de seleção de cor
Name[pt_BR]=Caixa de diálogo de seleção de cores
Name[ro]=Dialog de selectare a culorii
Name[ru]=Диалог выбора цвета
Name[sk]=Dialógové okno výberu farby
Name[sl]=Pogovorno okno izbora barve
Name[sr]=Прозорче за избор боје
Name[sr@latin]=Прозорче за избор боје
Name[sv]=Dialogruta för färgval
Name[tr]=Renk seçim diyaloğu
Name[uk]=Діялоґ вибору кольору
Name[uz]=Rang tanlash dialogi
Name[zh_CN]=颜色选择对话框
Name[zh_TW]=顏色選擇區對話盒
Comment=Choose colors from the palette or the screen
Comment[am]=ቀለም ይምረጡ ከ መደርደሪያው ወይንም መመልከቻው ላይ
Comment[ar]=إختر لونا من لوحة أو شاشة اﻷلوان
Comment[be]=Абярыце колер з палітры ці экрана
Comment[bg]=Изберете цветове от палитрата на екрана
Comment[br]=Dibab livioù diwar al livaoueg pe ar skramm
Comment[ca]=Seleccioneu els colors de la paleta o de la pantalla
Comment[ca@valencia]=Seleccioneu els colors de la paleta o de la pantalla
Comment[cs]=Vyberte si barvy z palety, nebo na obrazovce
Comment[da]=Vælg farver fra paletten eller skærmen
Comment[de]=Farben aus der Palette oder dem Bildschirm auswählen
Comment[de_CH]=Farben aus der Palette oder dem Bildschirm auswählen
Comment[el]=Επιλογή χρωμάτων από παλέτα ή την οθόνη
Comment[en_AU]=Choose colours from the palette or the screen
Comment[en_GB]=Choose colours from the palette or the screen
Comment[es]=Elija los colores de la paleta o la pantalla
Comment[es_AR]=Elija los colores de la paleta o la pantalla
Comment[es_CL]=Elija los colores de la paleta o la pantalla
Comment[es_CO]=Escoja colores de la paleta en pantalla
Comment[es_MX]=Elija los colores de la paleta o la pantalla
Comment[et]=Värvuste valimine ekraanil asuvast paletist
Comment[eu]=Aukeratu koloreak paleta edo pantailatik
Comment[fr]=Choisir les couleurs dans la palette ou à l'écran
Comment[gl]=Escolla cores da paleta ou da pantalla
Comment[hr]=Odaberi boje iz palete ili zaslona
Comment[hu]=Válasszon színt a palettáról, vagy a képernyőről
Comment[hy]=Ընտրեք գույները ներկապնակից կամ էկրանից
Comment[id]=Pilih warna dari palet atau layar
Comment[is]=Veldu liti af litaspjaldinu eða skjánum
Comment[it]=Seleziona i colori dalla tavolozza o dallo schermo
Comment[ja]=パレットあるいはスクリーンから色を選択します
Comment[ko]=팔레트 또는 화면에서 색상을 선택합니다
Comment[lt]=Pasirinkti spalvas iš paletės, arba iš ekrano
Comment[ms]=Pilih warna dari palet atau skrin
Comment[nb]=Velg farger fra paletten på skjermen
Comment[nds]=Farven ut de Palett oder vum Billschirm utkören
Comment[nl]=Kies kleuren in het palet of op het scherm
Comment[pl]=Wybór kolorów z palety lub ekranu
Comment[pt]=Escolher cores da paleta ou do ecrã
Comment[pt_BR]=Escolha cores da paleta ou da tela
Comment[ro]=Alegeți culori din paleta de pe ecran
Comment[ru]=Выберите цвет из палитры цветов или с экрана
Comment[sk]=Vyberte farby z palety, alebo obrazovky
Comment[sl]=Izberite barve s palete ali zaslona
Comment[sr]=Изаберите боје са палете или са екрана
Comment[sr@latin]=Изаберите боје са палете или са екрана
Comment[sv]=Välj färger från paletten eller från skärmen
Comment[tr]=Paletten ya da ekrandan renkleri seçin
Comment[uk]=Виберіть колір із палітри або з екрану
Comment[zh_CN]=在调色板或屏幕上选取颜色
Comment[zh_TW]=從調色板或螢幕上選擇顏色
