[Desktop Entry]
Type=Application
Name=Muffin
Name[ar]=مَتَر
Name[as]=Muffin
Name[ast]=Muffin
Name[be]=Muffin
Name[bg]=Muffin
Name[br]=Muffin
Name[ca]=Muffin
Name[ca@valencia]=Muffin
Name[cs]=Muffin
Name[da]=Muffin
Name[de]=Muffin
Name[el]=Muffin
Name[en_GB]=Muffin
Name[eo]=Mutero
Name[es]=Muffin
Name[et]=Muffin
Name[eu]=Muffin
Name[fi]=Muffin
Name[fr]=Muffin
Name[gl]=Muffin
Name[gu]=Muffin
Name[he]=Muffin
Name[hu]=Muffin
Name[id]=Muffin
Name[it]=Muffin
Name[ja]=Muffin
Name[kn]=Muffin
Name[ko]=머터
Name[lt]=Muffin
Name[lv]=Muffin
Name[nb]=Muffin
Name[nds]=Muffin
Name[nl]=Muffin
Name[pa]=ਮੱਟਰ
Name[pl]=Muffin
Name[pt]=Muffin
Name[pt_BR]=Muffin
Name[ro]=Muffin
Name[ru]=Muffin
Name[sl]=Muffin
Name[sr]=Матер
Name[sr@latin]=Mater
Name[sv]=Muffin
Name[ta]=மட்டர்
Name[th]=Muffin
Name[tr]=Muffin
Name[ug]=Muffin
Name[uk]=Muffin
Name[vi]=Muffin
Name[zh_CN]=Muffin
Name[zh_HK]=Muffin
Name[zh_TW]=Muffin
Exec=muffin
NoDisplay=true
# name of loadable control center module
X-GNOME-WMSettingsModule=metacity
# name we put on the WM spec check window
X-GNOME-WMName=Muffin
# back compat only 
X-GnomeWMSettingsLibrary=metacity
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=muffin
X-GNOME-Bugzilla-Component=general
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=true
