[Desktop Entry]
Name=Import with Pix
Name[af]=invoer met Pix
Name[am]=በ ፒክስ ማምጫ
Name[ar]=استيراد مع Pix
Name[az]=Piks ilə al
Name[be]=Імпартаваць з Pix
Name[bg]=Импортиране с Pix
Name[bn]=অামদানি করুন পিক্স সাথে
Name[ca]=Importa amb Pix
Name[cs]=Importovat pomocí Pix
Name[cy]=Mewnforio gyda Pix
Name[da]=Importér med Pix
Name[de]=Mit Pix importieren
Name[el]=Εισαγωγή με Pix
Name[en_GB]=Import with Pix
Name[eo]=Importi per Pix
Name[es]=Importar con Pix
Name[et]=Impordi Pixiga
Name[eu]=Inportatu Pix-etik
Name[fi]=Tuo Pixillä
Name[fr]=Importer avec Pix
Name[fr_CA]=Importer avec Pix
Name[he]=ייבוא באמצעות פיקס
Name[hi]=पिक्स द्वारा आयात करें
Name[hr]=Uvezi s Pixom
Name[hu]=Importálás a Pix programmal
Name[ia]=Importar per Pix
Name[id]=Impor dengan Pix
Name[ie]=Importar med Pix
Name[is]=Flytja inn með Pix
Name[it]=Importa con Pix
Name[ja]=Pix でインポート
Name[kab]=Kter s Pix
Name[ko]=픽스로 가져오기
Name[la]=Per Pix importa
Name[lt]=Importuoti su Pix
Name[lv]=Importēt ar Pix
Name[nb]=Importer med Pix
Name[nl]=Importeren met Pix
Name[oc]=Importar amb Pix
Name[pl]=Import za pomocą programu Pix
Name[pt]=Importar com o Pix
Name[pt_BR]=Importar com Pix
Name[ro]=Importă cu Pix
Name[ru]=Импортировать с помощью Pix
Name[sk]=Vložiť s PIX
Name[sl]=Uvozi s programom Pix
Name[sr]=Увезите са Гномовим сличком
Name[sr@latin]=Uvezi sa Pixom
Name[sv]=Importera med Pix
Name[ta]=பிக்ஸின் மூலம் அகவிறக்க
Name[th]=นำเข้าด้วย Pix
Name[tr]=Pix ile içe aktar
Name[uk]=Імпортувати за допомогою Pix
Name[ur]=پکس سے تصاویر برآمد کریں
Name[zh_CN]=使用 Pix 导入
Name[zh_HK]=以 Pix 匯入
Name[zh_TW]=用 Pix 導入
GenericName=Photo Import Tool
GenericName[af]=Foto-invoerhulpmiddel
GenericName[am]=ፎቶ ማምጫ መሳሪያ
GenericName[ar]=أداة استيراد الصور
GenericName[az]=Çəkim Almaq Aracı
GenericName[be]=Інструмент для імпарта фота
GenericName[bg]=Инструмент за импортиране на снимки
GenericName[bn]=ছবি আমদানিকারি ব্যাবস্থা
GenericName[ca]=Eina d'importació de fotos
GenericName[cs]=Nástroj pro import fotografií
GenericName[cy]=Teclyn Mewnforio Lluniau
GenericName[da]=Importværktøj til billeder
GenericName[de]=Werkzeug zum Importieren von Fotos
GenericName[el]=Εργαλείο εισαγωγής φωτογραφιών
GenericName[en_GB]=Photo Importer Tool
GenericName[eo]=Foto-importilo
GenericName[es]=Herramienta para importar fotos
GenericName[et]=Fotode importimise tööriist
GenericName[eu]=Argazkiak inportatzeko tresna
GenericName[fi]=Valokuvien tuontityökalu
GenericName[fr]=Outil d'importation de photos
GenericName[fr_CA]=Outil d'importation de photos
GenericName[he]=כלי ייבוא תמונות
GenericName[hi]=चित्र आयात साधन
GenericName[hr]=Alat za uvoz fotografija
GenericName[hu]=Fénykép-importáló eszköz
GenericName[ia]=App de importation de photos
GenericName[id]=Alat Impor Foto
GenericName[ie]=Utensile de import de fotos
GenericName[is]=Mynda-innflutnings-tól
GenericName[it]=Strumento di importazione foto
GenericName[ja]=写真を取り込むツール
GenericName[kab]=Afecku n uktar n Tewlafin
GenericName[ko]=사진 가져오기 프로토콜
GenericName[lt]=Fotografijų importavimo įrankis
GenericName[lv]=Fotogrāfiju importēšanas rīks
GenericName[nb]=Verktøy for import av bilder
GenericName[nds]=Billinfögenwarktüüg
GenericName[nl]=Foto-importeergereedschap
GenericName[oc]=Aisina d’import de fòto
GenericName[pa]=ਫੋਟੋ ਇੰਪੋਰਟ ਟੂਲ
GenericName[pl]=Narzędzie do importu zdjęć
GenericName[pt]=Ferramenta de Importação de Fotografias
GenericName[pt_BR]=Ferramenta de importação de imagens
GenericName[ro]=Unealtă de importare fotografii
GenericName[ru]=Инструмент импортирования фотографий
GenericName[sk]=Nástroj na import fotiek
GenericName[sl]=Orodje za uvoz fotografij
GenericName[sr]=Алатка за увоз слика
GenericName[sr@latin]=Alatka za uvoz fotografija
GenericName[sv]=Importera foton
GenericName[ta]=நிழற்பட அகவிறக்கும் கருவி
GenericName[th]=เครื่องมือนำเข้ารูปภาพ
GenericName[tr]=Resim İçe Aktarma Aracı
GenericName[uk]=Засіб імпорту світлин
GenericName[ur]=تصاویر برآمد کرنے کا اوزار
GenericName[zh_CN]=相片导入工具
GenericName[zh_HK]=相片匯入工具
GenericName[zh_TW]=照片匯入工具
X-GNOME-FullName=Pix Photo Import Tool
X-GNOME-FullName[am]=የ ፒክስ ፎቶ ማምጫ መሳሪያ
X-GNOME-FullName[ar]=أداة استيراد صور Pix
X-GNOME-FullName[be]=Інструмент для імпарта фота Pix
X-GNOME-FullName[bg]=Инструмент за импортиране на снимки на Pix
X-GNOME-FullName[bn]=পিক্স ছবি আমদানিকারি ব্যাবস্থা
X-GNOME-FullName[ca]=Eina d'importació de fotos de Pix
X-GNOME-FullName[cs]=Nástroj pro import fotografií Pix
X-GNOME-FullName[cy]=Offeryn Mewnforio Lluniau Pix
X-GNOME-FullName[da]=Billedimporteringsværktøj til Pix
X-GNOME-FullName[de]=Pix-Fotoimportwerkzeug
X-GNOME-FullName[el]=Εργαλείο εισαγωγής φωτογραφιών του Pix
X-GNOME-FullName[en_GB]=Pix Photo Import Tool
X-GNOME-FullName[eo]=Foto-importilo de Pix
X-GNOME-FullName[es]=Herramienta de Pix para importar fotos
X-GNOME-FullName[et]=Pix'i foto importimise töörist
X-GNOME-FullName[eu]=Pix-en argazkiak inportatzeko tresna
X-GNOME-FullName[fi]=Pixin valokuvien tuontityökalu
X-GNOME-FullName[fr]=Outil d'importation de photos de Pix
X-GNOME-FullName[fr_CA]=Outil d'importation de photos de Pix
X-GNOME-FullName[he]=כלי ייבוא תמונות פיקס
X-GNOME-FullName[hi]=पिक्स चित्र आयात साधन
X-GNOME-FullName[hr]=Pix alat za uvoz fotografija
X-GNOME-FullName[hu]=Pix fénykép-importáló eszköz
X-GNOME-FullName[ia]=Application de Pix pro importar le photos
X-GNOME-FullName[id]=Alat Impor Foto Pix
X-GNOME-FullName[ie]=Utensile de import de fotos Pix
X-GNOME-FullName[is]=Pix myndainnflutningstól
X-GNOME-FullName[it]=Strumento di importazione foto Pix
X-GNOME-FullName[ja]=Pix フォトインポートツール
X-GNOME-FullName[kab]=Afecku n ukter n teugniwin Pix
X-GNOME-FullName[ko]=픽스 사진 가져오기 프로토콜
X-GNOME-FullName[lt]=Pix fotografijų importavimo įrankis
X-GNOME-FullName[lv]=Pix fotogrāfiju importēšanas rīks
X-GNOME-FullName[nds]=Pix Billinfögenwarktüüg
X-GNOME-FullName[nl]=Pix foto-importeergereedschap
X-GNOME-FullName[oc]=Aisina d’import de fòto Pix
X-GNOME-FullName[pa]=ਜੀਥੰਮ ਫੋਟੋ ਇੰਪੋਰਟ ਟੂਲ
X-GNOME-FullName[pl]=Narzędzie do importu zdjęć Pix
X-GNOME-FullName[pt]=Ferramenta de Importação de Fotografias Pix
X-GNOME-FullName[pt_BR]=Ferramenta de importação de imagens do Pix
X-GNOME-FullName[ro]=Unealta de importare fotografii Pix
X-GNOME-FullName[ru]=Инструмент импортирования фотографий Pix
X-GNOME-FullName[sk]=Nástroj na import fotiek Pix
X-GNOME-FullName[sl]=Pix orodje za uvoz fotografij
X-GNOME-FullName[sr]=Алатка за увоз слика Гномов сличко
X-GNOME-FullName[sr@latin]=Pix alatka za uvoz fotografija
X-GNOME-FullName[sv]=Fotoimportverktyget Pix
X-GNOME-FullName[th]=เครื่องมือนำเข้ารูปภาพ Pix
X-GNOME-FullName[tr]=Pix Resim İçe Aktarma Aracı
X-GNOME-FullName[uk]=Засіб імпорту світлин Pix
X-GNOME-FullName[ur]=پکس تصاویر برآمد کرنے کا اوزار
X-GNOME-FullName[zh_CN]=Pix 相片导入工具
X-GNOME-FullName[zh_HK]=Pix 相片匯入工具
X-GNOME-FullName[zh_TW]=Pix 照片匯入工具
Comment=Import the photos on your camera card
Comment[am]=ከ እርስዎ ካሜራ ካርድ ውስጥ ፎቶዎች ማምጫ
Comment[ar]=استيراد الصور الموجودة على بطاقة الكاميرا الخاصة بك
Comment[be]=Імпартаваць фота на карту камеры
Comment[bg]=Импортиране на снимки от камерата
Comment[bn]=আপনার ক্যামেরার কার্ডে থাকা ছবি আমদানি করুন
Comment[ca]=Importa les fotos de la targeta de la càmera
Comment[cs]=Importovat fotografií z karty vašeho fotoaparátu
Comment[cy]=Mewngludo'r lluniau ar eich cerdyn camera
Comment[da]=Importér billederne på dit kamerakort
Comment[de]=Bilder von einer Digitalkamera importieren
Comment[el]=Εισαγωγή των φωτογραφιών από την κάρτα της μηχανής σας
Comment[en_GB]=Import the photos from your camera card
Comment[eo]=Importi la fotojn sur via kamera-karto
Comment[es]=Importar las fotos de la tarjeta de su cámara
Comment[et]=Digikaamera mälukaardilt fotode importimine
Comment[eu]=Inportatu argazkiak kameraren txarteletik
Comment[fi]=Tuo valokuvia digitaalikamerasta
Comment[fr]=Importer les photos depuis la carte de votre appareil photo
Comment[fr_CA]=Importer les photos depuis la carte de votre appareil photo
Comment[he]=ייבוא התמונות מכרטיס המצלמה
Comment[hi]=चित्रों को कैमरा कार्ड पर आयात करें
Comment[hr]=Uvezite fotografije s vaše kamerske kartice
Comment[hu]=Fényképek importálása a fényképezőgép kártyájáról
Comment[ia]=Importa le photos del scheda de tu photo-camera
Comment[id]=Impor foto pada kartu kamera Anda
Comment[ie]=Importar li fotos sur vor carte de cámera
Comment[is]=Flytja inn myndir af minniskorti myndavélar
Comment[it]=Importa le foto dalla scheda della fotocamera
Comment[ja]=お使いのカメラや IC メモリにある写真を取り込みます
Comment[kab]=Kter tugniwin ar tkarḍa yinek n tkamiṛat
Comment[ko]=카메라 카드에 있는 사진 가져오기
Comment[lt]=Importuoti fotografijas iš skaitmeninio fotoaparato
Comment[lv]=Importēt fotogrāfijas no fotokameras kartes
Comment[nb]=Importer bilder fra ditt kamera
Comment[nl]=Foto's vanaf uw camerakaart importeren
Comment[oc]=Impòrta las fòtos se tròban sus la carta de vòstre aparelh fòto
Comment[pa]=ਡਿਜ਼ੀਟਲ ਕੈਮਰਾ ਕਾਰਡ ਤੋਂ ਫੋਟੋ ਇੰਪੋਰਟ ਕਰੋ
Comment[pl]=Import fotografii z aparatu cyfrowego
Comment[pt]=Importa fotografias do cartão da sua câmera
Comment[pt_BR]=Importa fotos do cartão da sua câmera
Comment[ro]=Importă fotografiile pe cardul camerei tale
Comment[ru]=Импортировать фотографии с цифровой камеры
Comment[sk]=Importujte fotky na karte fotoaparáta
Comment[sl]=Uvozi fotografij s kartice digitalnega fotoaparata
Comment[sr]=Увези слике из картице фотоапарата
Comment[sr@latin]=Uvezite fotografije sa memorijske kartice Vašeg fotoaparata
Comment[sv]=Importera foton från din digitalkamera
Comment[th]=นำเข้ารูปภาพจากการ์ดในกล้องของคุณ
Comment[tr]=Kamera kartınızdaki fotoğrafları içe aktarın
Comment[uk]=Імпортуйте світлини на карту фотоапарата
Comment[ur]=اپنے کیمرہ کارڈ پر موجود تصاویر برآمد کریں
Comment[zh_CN]=由数码照相机导入相片
Comment[zh_HK]=從你的數碼相機記憶卡匯入相片
Comment[zh_TW]=從您的數位相機記憶卡匯入照片
Categories=GNOME;GTK;Graphics;Viewer;RasterGraphics;2DGraphics;Photography;
Exec=pix --import-photos %U
Icon=pix
MimeType=x-content/image-dcf;x-content/image-picturecd;
NoDisplay=true
StartupNotify=true
Terminal=false
Type=Application
